################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BullCowGame-starter-kit/_ReSharper.Caches/ReSharperPlatformVs16203_99fd53e7.BullCowGame.00
